<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">

    <test name="Login Test">
        <classes>
            <class name="scripts.Login"/>
        </classes>
    </test>

    <test name="Signup Test">
        <classes>
            <class name="scripts.SignUp"/>
        </classes>
    </test>

</suite>
